{% extends "plantilla.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="card card-info mx-4 my-4">
            <div class="card-header"> 
                <h1 class="card-title">REGISTAR ASESOR</h1> 
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" > 
                <div class="row">
                        <div class="form-group col-12">
                            <label>Asesores</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option value="" selected="selected"
                                    disabled="disabled">Seleccione un Asesor</option>
                                <option>Ing. Robert Jerry Sanchez Ticona</option>
                                <option>Ing. Juan Pedro Santos Fernandez</option>        
                                <option >Ing. Luis Boy Chavil</option>
                                <option >Ing. Marcelino Torres Villanueva</option>
                                <option>Ing. Jose Alverto Gomez Avila</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button onclick="aparecer()" style="color:white" class="btn btn-warning">Seleccionar</button> 
            </div>
        </div>
        <div class="card card-info mx-4 my-4" id="info-asesor" style="display: none;">
            <div class="card-header"> 
                <h1 class="card-title">INFORMACIÓN DEL ASESOR</h1> 
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" > 
                <div class="row">
                        <div class="col-6">
                            <label>Nombres</label>
                            <input type="text" class="form-control" readonly value="ROBERT JERRY">
                        </div>
                        <div class="col-6">
                            <label>Apellidos</label>
                            <input type="text" class="form-control" readonly value="SÁNCHEZ TICONA">
                        </div>
                        <div class="col-5">
                            <label>Profesion</label>
                            <input type="text" class="form-control" readonly value="INGENIERO DE COMPUTACIÓN Y SISTEMA">
                        </div>
                        <div class="col-3">
                            <label>Teléfono</label>
                            <input type="text" class="form-control" value="99xxxxxx">
                        </div>
                        <div class="col-4">
                            <label>Correo Electrónico</label>
                            <input type="text" class="form-control"  value="rsanchezt@unitru.edu.pe">
                        </div>  
                </div>
            </form>  
            </div>
            <div class="card-footer">
                <a href="{% url 'listarPractica' %}" class='btn btn-sm btn-danger btn-add'><i class=''></i> Cancelar</a>
                <a href="{% url 'listarPractica_id' %}" class='btn btn-sm btn-success btn-add'><i class=''></i> Guardar</a>
            </div>
        </div>
    </div>
{% endblock%}

{% block js %}
<SCRIPT type="text/javascript">
   function aparecer() {
    var x = document.getElementById("info-asesor");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

</SCRIPT>


{% endblock js %}