{% extends "plantilla.html" %} {% load static%}
{% block jurado_link %} active {% endblock %}
{% block jurado_item %} menu-open {% endblock %}
{% block jurado_asignar %} active {% endblock %}
{% load crispy_forms_tags %} 
{% block css %}
<!-- daterange picker -->
<link rel="stylesheet" href="{% static '/lte/plugins/daterangepicker/daterangepicker.css' %}"/>
{% endblock css %}
{% block num_messages %}2{% endblock num_messages %}
{% block messages %}
<!-- Messages Dropdown Menu -->
<a href="#" class="dropdown-item">
  <!-- Message Start -->
  <div class="media">
    <img src="{% static '/lte/dist/img/AdminLTELogo.png' %}" alt="User Avatar" class="img-size-50 mr-3 img-circle">
    <div class="media-body">
      <h3 class="dropdown-item-title">
        Sistema
        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
      </h3>
      <p class="text-sm">AVISO: Fue asignado como jurado del estudiante...</p>
      <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> Hace 1 hora</p>
    </div>
  </div>
  <!-- Message End -->
</a>
<div class="dropdown-divider"></div>
<!-- Messages Dropdown Menu -->
<a href="#" class="dropdown-item">
  <!-- Message Start -->
  <div class="media">
    <img src="{% static '/lte/dist/img/AdminLTELogo.png' %}" alt="User Avatar" class="img-size-50 mr-3 img-circle">
    <div class="media-body">
      <h3 class="dropdown-item-title">
        Sistema
        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
      </h3>
      <p class="text-sm">AVISO: Fue asignado como jurado del estudiante...</p>
      <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> Hace 30 min</p>
    </div>
  </div>
  <!-- Message End -->
</a>
<div class="dropdown-divider"></div>
<a href="#" class="dropdown-item dropdown-footer">Ver todos los mensajes</a>
{% endblock messages %}
{% block num_notifications %}2{% endblock num_notifications %}
{% block notifications %}
<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
  <span class="dropdown-item dropdown-header">2 Notificaciones</span>
  <div class="dropdown-divider"></div>
  <a href="#" class="dropdown-item">
    <i class="fas fa-envelope mr-2"></i> 2 nuevo mensaje
    <span class="float-right text-muted text-sm">30 min</span>
  </a>
  <div class="dropdown-divider"></div>
  <a href="#" class="dropdown-item dropdown-footer">Ver todas las notificaciones</a>
</div>
{% endblock notifications %}
{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="pl-3">Asignar Jurados</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Asginar</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Datos generales</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <form>
          {% csrf_token %} 
          {{ form | crispy }}
        </form>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->

{% endblock %} {% block js %}
<!-- date-range-picker -->
<script src="{% static '/lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
{% endblock js %}
