{% extends "plantilla.html" %} {% load static%} {% block css %}
<!-- daterange picker -->
<link rel="stylesheet" href="{% static '/lte/plugins/daterangepicker/daterangepicker.css' %}"/>
{% endblock css %}
{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="pl-3">Fechas de sustentación</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Sustentación</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Estudiantes evaluados</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group form-row">
            <div class="col-4">
              <label>Estudiante</label>
              <input class="form-control" type="text" disabled value="Max Alec Huertas Franco">
            </div> 
            <div class="col">
              <label>Fecha de sustentación</label>
              <input type="date" class="form-control" disabled>
            </div>
            <div class="col">
              <label>Estado</label>
              <div class="btn btn-block btn-danger"><i class="fas fa-times-circle mr-2"></i>Por corregir</div>
            </div>
            <div class="col">
              <label>Fecha de sustentación</label>
              <button type="button" class="btn btn-block btn-primary"><i class="far fa-check-circle mr-2"></i>Registrar</button>
            </div>
          </div><hr/>
          <div class="form-group form-row">
            <div class="col-4">
              <label>Estudiante</label>
              <input class="form-control" type="text" disabled value="Arturo Javier Paulino Vigo">
            </div> 
            <div class="col">
              <label>Fecha de sustentación</label>
              <input type="date" class="form-control">
            </div>
            <div class="col">
              <label>Estado</label>
              <div class="btn btn-block btn-success"><i class="fas fa-check-circle mr-2"></i>Aprobado</div>
            </div>
            <div class="col">
              <label>Fecha de sustentación</label>
              <button type="button" class="btn btn-block btn-primary"><i class="far fa-check-circle mr-2"></i>Registrar</button>
            </div>
          </div><hr/>
          <div class="form-group form-row">
            <div class="col-4">
              <label>Estudiante</label>
              <input class="form-control" type="text" disabled value="Manuel Orlando Rojas Sanchez">
            </div> 
            <div class="col">
              <label>Fecha de sustentación</label>
              <input type="date" class="form-control" disabled>
            </div>
            <div class="col">
              <label>Estado</label>
              <div class="btn btn-block btn-danger"><i class="fas fa-times-circle mr-2"></i>Por corregir</div>
            </div>
            <div class="col">
              <label>Fecha de sustentación</label>
              <button type="button" class="btn btn-block btn-primary"><i class="far fa-check-circle mr-2"></i>Registrar</button>
            </div>
          </div><hr/>
          <div class="form-group form-row">
            <div class="col-4">
              <label>Estudiante</label>
              <input class="form-control" type="text" disabled value="Jherson Jhanpoul Zavaleta Taucett">
            </div> 
            <div class="col">
              <label>Fecha de sustentación</label>
              <input type="date" class="form-control">
            </div>
            <div class="col">
              <label>Estado</label>
              <div class="btn btn-block btn-success"><i class="fas fa-check-circle mr-2"></i>Aprobado</div>
            </div>
            <div class="col">
              <label>Fecha de sustentación</label>
              <button type="button" class="btn btn-block btn-primary"><i class="far fa-check-circle mr-2"></i>Registrar</button>
            </div>
          </div><hr/>
        </form>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %} {% block js %}
<!-- date-range-picker -->
<script src="{% static '/lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script>
function edit() {
  let txt_documento = document.getElementById('documento')
  txt_documento.removeAttribute('disabled')
}
</script>
{% endblock js %}
