{% extends "plantilla.html" %} {% load static%}
{% block jurado_link %} active {% endblock %}
{% block jurado_item %} menu-open {% endblock %}
{% block jurado_inicio %} active {% endblock %}
{% load crispy_forms_tags %} 
{% block css %}
<!-- daterange picker -->
<link rel="stylesheet" href="{% static '/lte/plugins/daterangepicker/daterangepicker.css' %}"/>
<link rel="stylesheet" href="{% static '/css/index_docente.css' %}"/>
{% endblock css %}
{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="pl-3">Planes de Tesis</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Docente</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <ul class="nav nav-tabs" id="Tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="asesor-tab" data-toggle="tab" href="#asesor" role="tab" aria-controls="asesor" aria-selected="true">Asesor</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="jurado-tab" data-toggle="tab" href="#jurado" role="tab" aria-controls="jurado" aria-selected="false">Jurado</a>
      </li>
    </ul>
    <div class="tab-content" id="TabsContent">
      <div class="tab-pane fade show active" id="asesor" role="tabpanel" aria-labelledby="asesor-tab">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Estudiantes asesorados</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <form>
              {% for plan_tesis in asesorados %}
              <div class="form-group form-row">
                <div class="col-5">
                  <label>Estudiante</label>
                  <input class="form-control" type="text" disabled value="{{ plan_tesis.alumno }}">
                </div> 
                <div class="col">
                  <label>Documento</label>
                  <a class="btn btn-block btn-secondary" href="/media/{{ plan_tesis.proyecto_tesis }}">
                    <i class="fa fa-download mr-2" aria-hidden="true"></i>Descargar archivo
                  </a>
                </div>
                <div class="col">
                  <label>Visar plan de tesis</label>
                {% if plan_tesis.estado == "CREADO" %}
                  <button type="button" class="btn btn-block btn-info modal_visar" href="{% url 'visar_plan_tesis' plan_tesis.id %}"
                  data-popup-url="{% url 'visar_plan_tesis' plan_tesis.id %}"><i class="far fa-check-square mr-2"></i>Visar Plan</button>
                </div>
                <div class="col-2">
                  <label>Estado</label>
                  <span class="btn btn-block btn-danger estado"><i class="fa fa-ban mr-2"></i>{{ plan_tesis.estado }}</span>
                </div>
                {% else %}
                  <button type="button" class="btn btn-block btn-info" disabled><i class="far fa-check-square mr-2"></i>Visar Plan</button>
                </div>
                <div class="col-2">
                  <label>Estado</label>
                  <span class="btn btn-block btn-success estado"><i class="far fa-check-circle mr-2"></i>{{ plan_tesis.estado }}</span>
                </div>
                {% endif %}
              </div><hr/>
              {% endfor %}
            </form>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="jurado" role="tabpanel" aria-labelledby="jurado-tab">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Estudiantes evaluados</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <form>
              {% for observacion in evaluados %}
              <div class="form-group form-row">
                <div class="col-5">
                  <label>Estudiante</label>
                  <input class="form-control" type="text" disabled value="{{ observacion.plan_tesis.alumno }}">
                </div> 
                <div class="col">
                  <label>Documento</label>
                  <a class="btn btn-block btn-secondary" href="/media/{{ observacion.plan_tesis.proyecto_tesis }}">
                    <i class="fa fa-download mr-2" aria-hidden="true"></i>Descargar archivo
                  </a>
                </div>
                <div class="col">
                  <label>Realizar observaciones</label>
                {% if observacion.estado == "APROBADO" %}
                  <button type="button" class="btn btn-block btn-info" disabled><i class="far fa-check-square mr-2"></i>Registrar observacion</button>
                </div>
                <div class="col-2">
                  <label>Estado</label>
                  <span class="btn btn-block btn-success estado"><i class="far fa-check-circle mr-2"></i>{{ observacion.estado }}</span>
                </div>
                {% else %}
                  <button type="button" class="btn btn-block btn-info modal_observar" href="{% url 'observar_plan_tesis' observacion.id %}"
                  data-popup-url="{% url 'observar_plan_tesis' observacion.id %}"><i class="far fa-check-square mr-2"></i>Registrar observacion</button>
                </div>
                <div class="col-2">
                  <label>Estado</label>
                  <span class="btn btn-block btn-danger estado"><i class="fa fa-ban mr-2"></i>{{ observacion.estado }}</span>
                </div>
                {% endif %}
              </div><hr/>
              {% endfor %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- Modal Observar-->
<div class="modal fade" id="modalObservar" tabindex="-1" role="dialog" aria-labelledby="modalObservarLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-observar">
      {% include "modal_observar.html" %}
    </div>
  </div>
</div>


<!-- Modal Visar-->
<div class="modal fade" id="modalVisar" tabindex="-1" role="dialog" aria-labelledby="modalVisarLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-visar">
      {% include "modal_visar.html" %}
    </div>
  </div>
</div>
{% endblock %} {% block js %}
<!-- date-range-picker -->
<script src="{% static '/lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static '/js/index_docentes.js' %}"></script>
<script>
</script>
{% endblock js %}
