{% extends "plantilla.html" %} {% load static%} {% block css %}
<!-- daterange picker -->
<link rel="stylesheet" href="{% static '/lte/plugins/daterangepicker/daterangepicker.css' %}"/>
{% endblock css %}
{% block num_messages %}2{% endblock num_messages %}
{% block messages %}
<!-- Messages Dropdown Menu -->
<a href="#" class="dropdown-item">
  <!-- Message Start -->
  <div class="media">
    <img src="{% static '/lte/dist/img/AdminLTELogo.png' %}" alt="User Avatar" class="img-size-50 mr-3 img-circle">
    <div class="media-body">
      <h3 class="dropdown-item-title">
        Sistema
        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
      </h3>
      <p class="text-sm">AVISO: Fue asignado como jurado del estudiante...</p>
      <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> Hace 1 hora</p>
    </div>
  </div>
  <!-- Message End -->
</a>
<div class="dropdown-divider"></div>
<!-- Messages Dropdown Menu -->
<a href="#" class="dropdown-item">
  <!-- Message Start -->
  <div class="media">
    <img src="{% static '/lte/dist/img/AdminLTELogo.png' %}" alt="User Avatar" class="img-size-50 mr-3 img-circle">
    <div class="media-body">
      <h3 class="dropdown-item-title">
        Sistema
        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
      </h3>
      <p class="text-sm">AVISO: Fue asignado como jurado del estudiante...</p>
      <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> Hace 30 min</p>
    </div>
  </div>
  <!-- Message End -->
</a>
<div class="dropdown-divider"></div>
<a href="#" class="dropdown-item dropdown-footer">Ver todos los mensajes</a>
{% endblock messages %}
{% block num_notifications %}2{% endblock num_notifications %}
{% block notifications %}
<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
  <span class="dropdown-item dropdown-header">2 Notificaciones</span>
  <div class="dropdown-divider"></div>
  <a href="#" class="dropdown-item">
    <i class="fas fa-envelope mr-2"></i> 2 nuevo mensaje
    <span class="float-right text-muted text-sm">30 min</span>
  </a>
  <div class="dropdown-divider"></div>
  <a href="#" class="dropdown-item dropdown-footer">Ver todas las notificaciones</a>
</div>
{% endblock notifications %}
{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="pl-3">Observación de Tesis</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Evaluar</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Estudiantes evaluados</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group form-row">
            <div class="col-4">
              <label>Estudiante</label>
              <input class="form-control" type="text" disabled value="Max Alec Huertas Franco">
            </div> 
            <div class="col">
              <label>Documento</label>
              <button type="button" class="btn btn-block btn-info"><i class="fas fa-download mr-2"></i>Descargar documento</button>
            </div>
            <div class="col">
              <label>Realizar observaciones</label>
              <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#modalObservaciones"><i class="far fa-check-square mr-2"></i>Registrar observación</button>
            </div>
            <div class="col-2">
              <label>Aprobar proyecto</label>
              <button type="button" class="btn btn-block btn-success"><i class="far fa-check-circle mr-2"></i>Aprobar</button>
            </div>
          </div><hr/>
          <div class="form-group form-row">
            <div class="col-4">
              <label>Estudiante</label>
              <input class="form-control" type="text" disabled value="Arturo Javier Paulino Vigo">
            </div> 
            <div class="col">
              <label>Documento</label>
              <button type="button" class="btn btn-block btn-info"><i class="fas fa-download mr-2"></i>Descargar documento</button>
            </div>
            <div class="col">
              <label>Realizar observaciones</label>
              <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#modalObservaciones"><i class="far fa-check-square mr-2"></i>Registrar observación</button>
            </div>
            <div class="col-2">
              <label>Aprobar proyecto</label>
              <button type="button" class="btn btn-block btn-success"><i class="far fa-check-circle mr-2"></i>Aprobar</button>
            </div>
          </div><hr/>
          <div class="form-group form-row">
            <div class="col-4">
              <label>Estudiante</label>
              <input class="form-control" type="text" disabled value="Manuel Orlando Rojas Sanchez">
            </div> 
            <div class="col">
              <label>Documento</label>
              <button type="button" class="btn btn-block btn-info"><i class="fas fa-download mr-2"></i>Descargar documento</button>
            </div>
            <div class="col">
              <label>Realizar observaciones</label>
              <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#modalObservaciones"><i class="far fa-check-square mr-2"></i>Registrar observación</button>
            </div>
            <div class="col-2">
              <label>Aprobar proyecto</label>
              <button type="button" class="btn btn-block btn-success"><i class="far fa-check-circle mr-2"></i>Aprobar</button>
            </div>
          </div><hr/>
          <div class="form-group form-row">
            <div class="col-4">
              <label>Estudiante</label>
              <input class="form-control" type="text" disabled value="Jherson Jhanpoul Zavaleta Taucett">
            </div> 
            <div class="col">
              <label>Documento</label>
              <button type="button" class="btn btn-block btn-info"><i class="fas fa-download mr-2"></i>Descargar documento</button>
            </div>
            <div class="col">
              <label>Realizar observaciones</label>
              <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#modalObservaciones"><i class="far fa-check-square mr-2"></i>Registrar observación</button>
            </div>
            <div class="col-2">
              <label>Aprobar proyecto</label>
              <button type="button" class="btn btn-block btn-success"><i class="far fa-check-circle mr-2"></i>Aprobar</button>
            </div>
          </div><hr/>
        </form>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- Modal -->
<div class="modal fade" id="modalObservaciones" tabindex="-1" role="dialog" aria-labelledby="modalObservacionesLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalObservacionesLabel">Max Alec Huertas Franco</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="col">
            <label for="observation1">Observación</label>
            <textarea class="form-control" id="observation1" rows="4">{% lorem 1 b random %}</textarea>
          </div>
        </div>   
        <div class="row mt-2">
          <div class="col">
            <label for="documento">Documento</label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="documento"/>
                <label class="custom-file-label" for="documento">Documento de tesis (Observado).pdf</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block js %}
<!-- date-range-picker -->
<script src="{% static '/lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script>
function edit() {
  let txt_documento = document.getElementById('documento')
  txt_documento.removeAttribute('disabled')
}
</script>
{% endblock js %}
