{% extends "plantilla.html" %} {% load static%}
{% block secretaria_item %} menu-open {% endblock %}
{% block secretaria_link %} active {% endblock %}
{% block secretaria_inicio %} active {% endblock %}{% block css %}
<!-- daterange picker -->
<link rel="stylesheet" href="{% static '/lte/plugins/daterangepicker/daterangepicker.css' %}"/>
<link rel="stylesheet" href="{% static '/css/index_estudiante.css' %}"/>
{% endblock css %}
{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="pl-3">Fechas de sustentación</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Sustentación</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Estudiantes evaluados</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        {% for plan_tesis in planes_tesis %}
        <form method="POST">
          {% csrf_token %}
          <div class="form-group form-row">
            <input class="form-control" name="id" hidden value="{{ plan_tesis.id }}">
            <div class="col-4">
              <label>Estudiante</label>
              <input class="form-control" type="text" readonly value="{{ plan_tesis.alumno }}">
            </div> 
            <div class="col">
              <label>Fecha de sustentación</label>
              {% if plan_tesis.estado == 'APROBADO' %}
              <input type="date" name="fecha_sustentacion" class="form-control">
              {% else %}
              <input type="date" class="form-control" disabled>
              {% endif %}
            </div>
            <div class="col">
              <label>Estado</label>
              {% if plan_tesis.estado == 'APROBADO' %}
              <span class="btn btn-block btn-success"><i class="fas fa-check mr-2"></i>
              {% else %}
              <span class="btn btn-block btn-danger"><i class="fas fa-times-circle mr-2"></i>
              {% endif %}
                {{ plan_tesis.estado }}
              </span>
            </div>
            <div class="col">
              <label>Acción</label>
              {% if plan_tesis.estado == 'APROBADO' %}
              <button type="submit" class="btn btn-block btn-primary"><i class="far fa-check-circle mr-2"></i>
              {% else %}
              <button type="button" class="btn btn-block btn-primary" disabled><i class="far fa-check-circle mr-2"></i>
              {% endif %}
                Registrar
              </button>
            </div>
          </div><hr/>
        </form>
        {% empty %}
        <h3>No hay planes de tesis pendientes</h3>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %} {% block js %}
<!-- date-range-picker -->
<script src="{% static '/lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script>
function edit() {
  let txt_documento = document.getElementById('documento')
  txt_documento.removeAttribute('disabled')
}
</script>
{% endblock js %}
