{% extends "plantilla.html" %}
{% block content %}
   <div class="container">
       <div class="car card-outline card-info mt-3">
           <div class="card-header">
               <h1 class="card-title">ESTADO DE PRACTICA</h1>
           </div>
        <div class="card-body">
            <div class="row"> 
                <div class="col-md-6 pull-right">
                    <form action="" method="GET" >      
                        <div class="input-group">
                            <input type="text" name="buscar" id="buscar" class="form-control" autofocus placeholder="Buscar" value="">
                            <span class="input-group-btn">
                            <button class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </button>
                            </span>
                            <a href="" class="btn btn-sm btn-success btn-add"><i class="fas fa-file-excel"></i> Exportar</a>
                        </div>
                    </form>
                    
                </div> 
                <div class="col-md-5 pull-right">   
                </div>
                <div class="col-md-1 pull-right">
                    {% if id %}
                    
                    {% else %}
                    <a href="{% url 'agregarPractica' %}" class='btn btn-sm btn-primary btn-add'><i class='fas fa-plus'></i> NUEVO</a>
            {% endif %}
                </div>
            </div>

            <table class="table mt-2">
                <table id="tablacategorias" class="table table-stripad mt-4" style="width: 100%;">
                    <thead class="bg-info test.white">
                        <tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th><center>Opciones</center></th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                            <th>{{id}}</th>
                            <th>{{descripcion}}</th>
                            <th>
                                {% if id %}
                                <center>
                                    <a href="" class="btn btn-info btn-sm"><i class="fa fa-edit"></i>Editar</a>
                                    <a href="#"  class="btn btn-success btn-sm"><i class="fa fa-eye"></i> Ver</a> 
                                </center>
                                {% else %}
                              
                                {% endif %}
                            </th>
                            {% if id %}
                            <th>Practicando</th>
                            {% else %}
                          
                            {% endif %}
                        </tr>        
                    </tbody>
                </table>
            </table>
        </div>

        </div>
   </div>
{% endblock %}
