{% extends "plantilla.html" %}
{% block page_title %} Planes de Practica {% endblock %}
{% load static %}
{% block estudiante_link %} active {% endblock %}
{% block estudiante_item %} menu-open {% endblock %}
{% block practicas_inicio %} active {% endblock %}
{% load crispy_forms_tags %} 
{% block content %}
   <div class="container">
       <div class="car card-outline card-info mt-3">
           <div class="card-header">
               <h1 class="card-title">ESTADO DE PRACTICA</h1>
           </div>
        <div class="card-body">
            <div class="row"> 
                <div class="col-md-6 pull-right">
                    <form action="" method="GET" >      
                        <div class="input-group">
                            <input type="text" name="buscar" id="buscar" class="form-control" autofocus placeholder="Buscar" value="">
                            <span class="input-group-btn">
                            <button class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </button>
                            </span>
                        </div>
                    </form>
                    
                </div> 
                <div class="col-md-5 pull-right">   
                </div>
                <div class="col-md-1 pull-right">
                    {% if not plan_Incompleto %}
                    <a href="/agregarPractica" class='btn btn-sm btn-primary btn-add'><i class='fas fa-plus'></i>NUEVO</a>
                    {% else %}
                    <a href="/agregarPractica" class='btn btn-sm btn-warning btn-add' style="color: snow;"><i class="fas fa-exclamation-triangle" style="color: snow;"></i>INCOMPLETO</a>
                    {% endif %}
                </div>
            </div>

            <table class="table mt-2">
                <table id="tablacategorias" class="table table-stripad mt-4" style="width: 100%;">
                    <thead class="bg-info test.white">
                        <tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th><center>Opciones</center></th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if planPractica %}
                            {% for itemplan in planPractica %}
                            <tr>
                                <th>{{ itemplan.id }}</th>
                                <th>{{ itemplan.asesor.apellidos }} / {{ itemplan.empresa.razon_social }}</th>
                                <th>
                                    <center> 
                                        <a href="#"  class="btn btn-success btn-sm"><i class="fa fa-eye"></i> Ver</a> 
                                        <a onclick="downloadURI(this)" ruta="{{ itemplan.plan_practicas }}" url="{{ itemplan.plan_practicas.url }}" class="btn btn-info btn-sm"><i class="fas fa-download"></i>Descargar</a>
                                    </center>
                                </th>
                                <th>{{ itemplan.estado }}</th>
                                {% endfor %}
                        {% else %}
                            <tr style="text-align: center;">
                                <td colspan="3">
                                    <p>No hay registros</p>
                                </td>
                                </tr>
                        {% endif %}
                        </tr>        
                    </tbody>
                </table>
            </table>
        </div>

        </div>
   </div>
{% endblock %}
{% block js %}
<script src="{% static '/js/gestionPractica/index.js' %}"></script>
if(%%)
{% endblock js %}