{% extends "plantilla.html" %} 
{% block content %} 
{% load crispy_forms_tags %} 
<div class="container">
    <div class="card card-info mx-4 my-4">
        <div class="card-header">
            <h1 class="card-title">EDITAR ALUMNO</h1>
        </div>
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data"> 
                {% csrf_token %} 
                {{ form | crispy}} 
                <div class="d-flex justify-content-end">
                    <a href="{% url 'listaralumno' %}" class="btn btn-secondary">Cancelar</a>
                    &nbsp; <button type="submit" class="btn btn-primary">Actualizar</button> 
                </div>
            </form>
        </div>
    </div>
</div>
</div> 
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
      window.onload=function(){
        var escuela_id = $("#id_escuela").val();  
        var facultad_id = $("#id_facultad").val();  
            $.ajax({                       
                url: "../../agregaralumno/escuelas/",                   
                data: {
                'facultad_id': facultad_id     
                },
                success: function (data) {  
                $("#id_escuela").html(data); 
                $('#id_escuela option[value='+escuela_id+']').attr('selected','selected');
                }
            });
        }

    $("#id_facultad").change(function () {
      var url = "escuelas/";  
      var facultad_id = $(this).val();  
      $.ajax({                       
        url: url,                   
        data: {
          'facultad_id': facultad_id     
        },
        success: function (data) {  
          $("#id_escuela").html(data); 
        }
      });
    });
  </script>
  {% endblock%}
