{% extends "plantilla.html" %}
{% block tittle %} Alumnos {% endblock %}
{% block menu %} active {% endblock %}
{% block menu2 %} menu-open {% endblock %}
{% block lis %} active {% endblock %}
{% block content %}
    <div class="container">
        <div class="card card-outline card-info mt-3">
            <div class="card-header">
                <div class="row justify-content-between">
                  <div class="col-4">
                      <h3 class="card-title">Mantenedor de alumnos</h3>
                    </div>
                    <div class="col-1">
                    <a
                      href="{% url 'agregaralumno' %}"
                      class="btn btn-sm btn-primary btn-add mr-3"
                      ><i class="fas fa-plus"></i> NUEVO</a>
                  </div>
            </div>    
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 pull-right">
                  <form action="" method="GET">
                    <div class="input-group">
                      <input
                        type="text"
                        name="buscar"
                        id="buscar"
                        class="form-control"
                        autofocus
                        placeholder="Buscar por apellidos"
                        value=""/>
                      <span class="input-group-btn">
                        <button class="btn btn-primary">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            <table class="table mt-2">
                <table id="tablaalumnos" class="table table-striped mt-4" style="width:100%">
                    <thead class="bg-info text-white">
                        <tr>
                          <th>Codigo</th>
                          <th>Nombre</th>
                          <th>Apellidos</th>
                          <th>Email</th>
                          <th>DNI</th>
                          <th><center>Opciones</center></th>
                        </tr>
                      </thead>
                {% if entity %}
                    {% for itemalumno in entity %}
                    <tr>
                        <td>{{itemalumno.id}}</td>
                        <td>{{itemalumno.nombre}}</td>
                        <td>{{itemalumno.apellidos}}</td>
                        <td>{{itemalumno.email}}</td>
                        <td>{{itemalumno.dni}}</td>                    
                        <td style="text-align: center">
                            <a href="{% url 'editaralumno' itemalumno.id %}" class="btn btn-info btn-sm m-1">
                                <i class="fa fa-edit"></i> Editar</a>
                                <a href="#" 
                                onclick="eliminarAlumno('{{itemalumno.id}}','{{itemalumno.apellidos}}')" class="btn btn-danger btn-sm m-1>
                                    <i class="fa fa-trash"></i> Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr style="text-align:center">
                        <td colspan="6">
                            <p>No hay registros</p>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
        <div> {% include 'paginador.html' %} </div>
    </div>
</div>
</div> 
{% endblock %}

{% block js %} 
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %} 
    {% for m in messages %} 
        <script> 
        //console.log("{{m}}");
        Swal.fire({ 
            "title": "Eliminado", 
            "text":"{{m}}", 
            "icon":"success" }) 
        </script> 
    {% endfor %} 
{% endif %}

<script> 
function eliminarAlumno(id,apellidos){ 
    Swal.fire({ 
        "title":"¿Realmente desea eliminar al alumno?", 
        "text":"Codigo: "+ id + " Apellidos: " + apellidos, 
        "icon":"question", "showCancelButton":true, 
        "cancelButtonText":"No", 
        "confirmButtonText":"Si", 
        "reverseButton":true, 
        "confirmButtonColor":"#dc3545" }) .then(function(result){ 
            if(result.isConfirmed){ 
                window.location.href="/eliminaralumno/"+id+"/" 
                } }) } 

</script> 
{% endblock %}