{% extends "plantilla.html" %}{% load static %}
{% block page_title %} Registar Asesor{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="card card-info mx-4 my-4">
            <div class="card-header"> 
                <h1 class="card-title">REGISTAR ASESOR</h1> 
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" > 
                <div class="row">
                        <div class="form-group col-12">
                            <label>Asesores</label>
                            <select class="form-control select2" id="id_asesor" style="width: 100%;">
                                <option value=""  selected="selected" disabled="disabled">Seleccione un Asesor</option>
                                {% if docente %}
                                    {% for itemdocente in docente %} 
                                    <option value="{{ itemdocente.id }}">{{itemdocente.nombres }} {{ itemdocente.apellidos }}</option>
                                    {% endfor %}
                                {% else %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button onclick="aparecer()" style="color:white" class="btn btn-warning">Seleccionar</button> 
            </div>
        </div>
        <div class="card card-info mx-4 my-4" id="info-asesor" style="display: none;">
            <form method="post" action="/save_Asesor" enctype="multipart/form-data" >
                {% csrf_token %}
            <div class="card-header"> 
                <h1 class="card-title">INFORMACIÓN DEL ASESOR</h1> 
            </div>
            <div class="card-body">
                <div class="row">
                        <div style="display: none;">
                            <input type="text" class="" id="asesor_id" name="asesor_id">
                        </div>
                        <div class="col-6">
                            <label>Nombres</label>
                            <input type="text" id="nombre" class="form-control" disabled >
                        </div>
                        <div class="col-6">
                            <label>Apellidos</label>
                            <input type="text" id="apellido" class="form-control" disabled >
                        </div>
                        <div class="col-5">
                            <label>Titulo</label>
                            <input type="text" id="titulo" class="form-control" disabled >
                        </div>
                        <div class="col-3">
                            <label>Teléfono</label>
                            <input type="text" id="telefono" class="form-control" disabled >
                        </div>
                        <div class="col-4">
                            <label>Correo Electrónico</label>
                            <input type="text" id="correo" class="form-control"  disabled>
                        </div>  
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'listarPractica' %}" class='btn btn-sm btn-danger btn-add'><i class=''></i> Cancelar</a>
                <input class='btn btn-sm btn-success btn-add' type="submit" value="Guardar">
            </div>
        </form>  
        </div>
    </div>
{% endblock%}

{% block js %}
<script src="{% static '/js/gestionPractica/asesor_practica.js' %}"></script>
{% endblock js %}