{% extends "plantilla.html" %}
{% block page_title %} Registrar Empresa{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="card card-info mx-4 my-4">
            <form method="post" action="/save_Empresa" enctype="multipart/form-data" >
                {% csrf_token %}
            <div class="card-header"> 
                <h1 class="card-title">INFORMACION GENERAL DEL CAMPO DE PRACTICA</h1> 
            </div>
            <div class="card-body"> 
                    <div class="row">
                        <div class="col-10 form-group">
                            <label>Razón Social</label>
                            <input type="text" class="form-control" name="razon_social" value="{{ empresa.razon_social }}" >
                        </div>
                        <div class="col-2 form-group">
                            <label>RUC</label>
                            <input type="text" class="form-control" name="ruc" value="{{ empresa.ruc }}">
                        </div>
                        <div class="col-2 form-group">
                            <label>Teléfono</label>
                            <input type="text" class="form-control" name="telefono_E" value="{{ empresa.telefono }}">
                        </div>
                        <div class="col-3 form-group">
                            <label>Dirección</label>
                            <input type="text" class="form-control" name="direccion" value="{{ empresa.direccion }}">
                        </div>
                        <div class="col-2 form-group">
                            <label>Ciudad</label>
                            <input type="text" class="form-control" name="ciudad" value="{{ empresa.ciudad }}">
                        </div>
                        <div class="col-5 form-group">
                            <label>Nombre del Gerente</label>
                            <input type="text" class="form-control"  name="gerente" value="{{ empresa.gerente }}">
                        </div>
                        <div class="col-3 form-group">
                            <label>Nombre del Jefe Inmediato</label>
                            <input type="text" class="form-control"  name="nombres" value="{{ contacto.nombres }}">
                        </div>
                        <div class="col-3 form-group">
                            <label>Cargo</label>
                            <input type="text" class="form-control"  name="cargo" value="{{ contacto.cargo }}">
                        </div>
                        <div class="col-3 form-group">
                            <label>Telefono</label>
                            <input type="text" class="form-control" name="telefono_C" value="{{ contacto.telefono }}">
                        </div>
                        <div class="col-3 form-group">
                            <label>Correo Electrónico</label>
                            <input type="text" class="form-control" name="email" value="{{ contacto.email }}">
                        </div>
                    </div>
                
            </div>
            <div class="card-footer">
                <a href="{% url 'listarPractica' %}" class='btn btn-sm btn-danger btn-add'><i class=''></i> Cancelar</a>
                <input class='btn btn-sm btn-success btn-add' type="submit" value="Siguiente">
            </div>
        </form>
        </div>
    </div>
{% endblock%}